@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
}


<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>User table</h6>
                    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#modalLesson"><i class="fas fa-plus"></i></button>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        <table id="myTableLesson" class="table align-items-center mb-0 table-hover">
                            <thead>
                                <tr>
                                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">No</th>
                                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Lesson Name</th>
                                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Description</th>
                                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Subjct Attachhment</th>
                                    <th class="text-center text-uppercase text-secondary text-xs font-weight-bolder opacity-7">Classroom Guid</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" id="modalLesson">
    <div class="modal-dialog  modal-dialog-centered ms-auto">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Create Lesson</h5>
                <button type="button" class="btn btn-danger btn-close bg-danger" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body row">
                <div class="col">
                    <form id="addLessonForm">
                        <div class="mb-3">
                            <label for="name" class="form-label">Lesson Name</label>
                            <input type="text" class="form-control" id="nameLesson" name="name" required>
                        </div>
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="descriptionLesson" name="description" required>
                        </div>
                        <div class="mb-3">
                            <label for="subjectattchment" class="form-label">Subject Attachment</label>
                            <input type="text" class="form-control" id="subjectAttachmentLesson" name="subjectattchment" required>
                        </div>
                        <div class="mb-3">
                            <label for="classroomGuid" class="form-label">Classroom Guidt</label>
                            <input type="text" class="form-control" id="classroomGuidLesson" name="classroomGuid" required>
                        </div>
                        <!-- Add other input fields as needed -->
                    </form>
                </div>
            </div>
            <div class="modal-header">
                <button onclick="InsertLesson()" type="button" id="btnSave" class="btn btn-primary mx-auto">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <script type="text/javascript">
        toastr.success('@TempData["Success"]');
    </script>
    <script src="~/js/lesson.js" asp-append-version="true"></script>
}
@section CSS{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
}
