@model IEnumerable<Client.ViewModels.Users.ClassroomByUserVM>

@{
    ViewData["Title"] = "Index";
    Layout = "_DashboardLayout";
}

<h1>Classroom</h1>

@if (User.IsInRole("Student"))
{
    <p>
        <a class="btn btn-secondary" asp-action="">Enroll Class</a>
    </p>
    <div class="container ms-0 me-0 ps-0">
        <div class="row row-cols-auto">
            @foreach (var item in Model)
            {
                <div class="col">
                    <div class="card" style="width: 18rem;">
                        <img src="https://img.freepik.com/free-vector/students-watching-webinar-computer-studying-online_74855-15522.jpg?w=1060&t=st=1692673590~exp=1692674190~hmac=4abf566d1de74fbf791ca6f1f516091e2c076b20f1c7636b8a000cb24ab742e6" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.ClassroomName)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.TeacherName)</p>
                            <a href="#" class="btn btn-primary">View Class </a>
                            <a href="#" class="btn btn-secondary" style="position: absolute; top: 10px; right: 10px;"><i class="fa-solid fa-trash"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}


