@model Client.ViewModels.CombinedViews.ClassroomDetailsVM

@{
    ViewData["Title"] = "Lessons";
    Layout = "_Dashboardlayout";
}
<div class="card">
    <div class="card mt-3 mx-3" style="height:250px; background-image:url(https://gstatic.com/classroom/themes/img_backtoschool.jpg); background-size:cover;">
        <div class="ms-3 my-2 w-75" style="position: absolute; bottom: 0; left: 0;">
            <p class="h3" style="color:aliceblue;">@Model.ClassroomModel.Name</p>
            <p class="" style="color:aliceblue;">@Model.ClassroomModel.Description</p>
        </div>
    </div>

    @foreach (var item in Model.ClassroomLessonViewModels)
    {
        <div class="card mb-3 mx-3" style="max-height:80px;  outline-style: solid; outline-color:darkgrey; outline-width: 0.2px;">
            <div class="row row-cols-auto">
                <div class="col d-flex justify-content-center align-items-center">
                    <div class="rounded-circle bg-primary text-white d-flex justify-content-center align-items-center m-1" style="width: 40px; height: 40px;">
                        <i class="fa-solid fa-book"></i>
                    </div>
                </div>
                <div class="col">
                    <div class="card-body p-0 m-0 justify-content-center" style="text-align: justify;">
                        <h6 class="card-text m-0" style="margin-top:10px;">@Html.DisplayFor(modelItem => item.Name)</h6>
                        <p class="card-text" style="margin-top: -10px;"><small class="text-muted" style="font-size: 0.75em">@Html.DisplayFor(modelItem => item.CreatedDate)</small></p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
