b html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


div.dt-buttons{
    margin-left: 25px;
}

div#myTable_filter.dataTables_filter{
    margin-right:50px;
}

div#myTableClassroom_filter.dataTables_filter {
    margin-right: 50px;
    margin-top: 30px;
}

td{
    font-size:14px;
    text-align:center;
}

#listCardLessonStudent:hover {
    background-color: rgba(0, 0, 255, 0.1);  /*Warna hitam dengan opacity 0.1*/ 
    cursor:pointer;
}
#studentTaskList:hover {
    background-color: rgba(0, 0, 255, 0.1); /*Warna hitam dengan opacity 0.1*/
    cursor: pointer;
}

.slide-top-card {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-35px);
    }
}

.refresh-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
}

.refresh-button {
    background-color: green;
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
    color: green;
    transition: transform 0.3s ease-in-out;
}

    .refresh-button:hover {
        transform: rotate(180deg);
    }
#editButtonAttachment:hover {
    color: #7b8594;
}

div#studentTaskTable_info.dataTables_info {
    margin-left: 25px;
}
#studentTaskTable_wrapper .dt-buttons{
    margin-top:10px;
}

#studentTaskTable_filter{
    margin-top:10px
}

div#studentTaskTable_filter.dataTables_filter{
    margin-right:25px;
}
div.dataTables_paginate paging_simple_numbers#studentTaskTable_paginate{
    margin-right:25px;
}

.collapse-row.collapsed + tr {
    display: none;
}

.child-row {
    display: none;
}

@import url('//cdn.datatables.net/1.10.2/css/jquery.dataTables.css');

td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}

