b html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


div.dt-buttons{
    margin-left: 50px;
}

div#myTable_filter.dataTables_filter{
    margin-right:50px;
}

div#myTableClassroom_filter.dataTables_filter {
    margin-right: 50px;
}

td{
    font-size:14px;
    text-align:center;
}

#listCardLessonStudent:hover {
    background-color: rgba(0, 0, 255, 0.1);  /*Warna hitam dengan opacity 0.1*/ 
}

.slide-top-card {
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-35px);
    }
}

#editButtonAttachment:hover {
    color: #7b8594;
}